.tt {
    border: 30px aliceblue solid;
    width: 500px;
    padding: 80px;
}

.date mt {
    text-align: center;
    color: blue;
}

.date {
    text-align: center;
    color: black;
}

.quote {
    border-left: 10px red solid;
    padding-left: 10px;
}