.product-title{
    
background-color: red;
    font-size: 48px;
    color: wheat (245, 233, 179);
    text-align: center;
}

.price{
    font-size: 24px;  
    color: white;
    background-color: rgb(237, 20, 61);
}

.old-price{
    text-decoration: line-through;
}

